body{
    background-color: rgba(128, 128, 128, 0.267);
}
header{
    text-align: center;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
    padding: 0px 400px;
  }
  
  figcaption {
    background-color: black;
    color: white;
    padding: 2px;
    text-align: center;
  }

.canva{
    display: flex;
    justify-content: center;
}
#draw{
    background-color: aqua;
    border: 9px solid pink;
}

footer{
    background-color: rgba(138, 138, 138, 0.529);
    margin: 0px 0px;
    text-align: center;
    height: 250px;
}