.nam{
    height: 100px;
    width: 100px;
    background: red;
    transition: width 2s;
    animation-delay: 8s;
}

.nam:hover{
    width: 500px;
}



.box {
    border-style: solid;
    border-width: 1px;
    display: block;
    width: 100px;
    height: 100px;
    background-color: #0000ff;
    transition:
      width 2s,
      height 2s,
      background-color 2s,
      rotate 2s;
  }
  
  .box:hover {
    background-color: #ffcccc;
    width: 200px;
    height: 200px;
    rotate: 180deg;
  }

.eff1 {transition-timing-function: linear;}
.eff2 {transition-timing-function: ease;}
.eff3 {transition-timing-function: ease-in;}
.eff4 {transition-timing-function: ease-out;}
.eff5 {transition-timing-function: ease-in-out;}

body{
    /* display: flex; */
    /* background-image: url("/home/rax/Documents/GIT/Sems/All Sems/Web Technology/0Personal/Images/Adcet.jpeg");
   */ 
} 

#name{
    height: 200px;
}